@tailwind base;
@tailwind components;
@tailwind utilities;



/* Swiper Pagination Style */
.swiper-pagination-bullet {
    height: 6px!important;
    width: 6px!important;
}
.swiper-pagination-bullet-active {
    background-color: #000 !important;
    border-radius: 5px!important;
    height: 6px!important;
    width: 20px!important;
    transition: width linear .3s ;
}
/**/


/* Swiper Navigation Style */
.swiper-button-next,
.swiper-button-prev {
    padding: 0 25%!important;
    background-color: transparent!important;
    right:10px;
    width: 10px!important;
}
.swiper-button-prev {
  background-image: url('../public/assets/Home02/navigation_arrow_left.png');
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: center;
}
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next {
  background-image: url('../public/assets/Home02/navigation_arrow_right.png');
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: center;
}
.swiper-button-next::after {
  display: none;
}
@media (max-width: 1000px) {
  .swiper-button-next,
  .swiper-button-prev {
      padding: 0 10%!important;
      background-color: transparent!important;
      right:10px;
      width: 10px!important;
  }
  .swiper-button-prev {
    background-image: url('../public/assets/Home02/navigation_arrow_left.png');
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: center;
  }
  .swiper-button-next {
    background-image: url('../public/assets/Home02/navigation_arrow_right.png');
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: center;
  }
}
/**/

/* Underline Text Animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #ff4a17;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Hover Nav Animation */
.hover-nav-animation {
  display: inline-block;
  position: relative;
  transform: rotate(90deg);
}
.hover-nav-animation:after {
  content: '';
  position: absolute;
  width: 34px;
  background-color: #ff4a17;
  transform: scaleX(0);
  height: 2px;
  bottom: 25px;
  right: 20px;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-nav:hover .hover-nav-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-div:hover .hover-nav-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-nav-active:after {
  transform: rotate(90deg);
  content: '';
  position: absolute;
  width: 34px;
  background-color: #ff4a17;
  height: 2px;
  bottom: 42px;
  right: 5px;
}
.hover-nav-active--page:after {
  transform: rotate(90deg);
  content: '';
  position: absolute;
  width: 34px;
  background-color: #ff4a17;
  height: 2px;
  top: 10px;
  right: 22px;
}
/**/



/* Card Flip Effect */
.flip-card {
  background-color: transparent;
  width: 32%;
  height: 311px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}
/**/



/* Header Animation OnScroll */
@keyframes headerAnimation {
  0% {
    opacity: 0;
    transform: translateY(-75%);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }
}
.fixed-header {
  z-index: 9999;
  box-shadow: 5px 6px 30px 0 rgba(0,0,0,0.12);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  animation: headerAnimation .5s;
  animation-fill-mode: forwards;
}
/**/


.scrollHidden::-webkit-scrollbar {
  width: 0 !important
}


/* BackTopTop Animation OnScroll */
.fixed-goTop {
  transform: rotate(270deg) translate(0);
  opacity: 1;
  visibility: visible;
  z-index: 999;
  animation: goTopAnimation .3s linear;
  animation-fill-mode: forwards;
}
/**/

/* Strategy Bar About */
@keyframes strategyBar {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
.strategy-bar-animation {
  animation: strategyBar ease-in-out forwards 1.5s .3s;
}
/**/



/* About Landing Appearance */
@keyframes revealAboutTop {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes revealAboutRight {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}  
@keyframes revealAboutLeft {
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
.revealAboutFirst {
  animation: revealAboutTop .7s ease-in-out .7s forwards;
}
.revealAboutSecond {
  animation: revealAboutLeft .7s ease-in-out 1.2s forwards;
}
.revealAboutThird {
  animation: revealAboutRight .7s ease-in-out 1.7s forwards;
}
.revealAboutFourth {
  animation: revealAboutLeft .7s ease-in-out 2.2s forwards;
}
.revealAboutFifth {
  animation: revealAboutRight .7s ease-in-out 2.7s forwards;
}



/* Aside Header appearance */
@keyframes asideHeader {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
.asideHeaderBlock {
  display: block;
  animation: asideHeader .2s ease forwards;
}
/**/



/* Classes for Color Context */
.text-red {
  color: #ec3b3b;
}
.hover-text-red {
  color: #ec3b3b;
}
.group:hover > .group-hover-text-red {
  color: #ec3b3b;
}
.text-orange {
  color: #ff4a17;
}
.hover-text-orange {
  color: #ff4a17;
}
.group:hover > .group-hover-text-orange {
  color: #ff4a17;
}


.bg-red {
  background-color: #ec3b3b;
}
.hover-bg-red:hover {
  background-color: #ec3b3b;
}
.group:hover > .group-hover-bg-red {
  background-color: #ec3b3b;
}
.bg-orange {
  background-color: #ff4a17;
}
.hover-bg-orange:hover {
  background-color: #ff4a17;
}
.group:hover > .group-hover-bg-orange {
  background-color: #ff4a17;
}


.border-l-orange {
  border-left: #ff4a17 solid 4px;
}
.border-l-red {
  border-left: #ec3b3b solid 4px;
}
.border-orange {
  border-color: #ff4a17;
}
.border-red {
  border-color: #ec3b3b;
}


.bg-darkBlueBackground {
  background-color: #14212b;
}
.hover-bg-darkBlueBackground:hover {
  background-color: #14212b;
}
.bg-secondaryBlue {
  background-color: #2c396b;
}
.hover-bg-secondaryBlue:hover {
  background-color: #2c396b;
}


.text-slightOrange {
  color: #ff673c;
}
.text-slightRed {
  color: rgb(235, 104, 104);
}
.text-slightBlue {
  color: #2a3843;
}
.text-slightSecondaryBlue {
  color: #384886;
}
/**/



/* Home01 */
.parallaxDivision-Home01 {
  background-image: url('../public/assets/Home01/vision_division_background.png');
  height: 250px; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.nextNavHome01 {
  background-image: url('../public/assets/Home02/navigation_arrow_left.png');
  background-repeat: no-repeat;
  background-size: 25px auto;
  background-position: center;
  padding: 0 25%!important;
  background-color: transparent!important;
  right:10px;
  width: 10px!important;
}
.nextNavHome01::after {
  display: none;
}


@keyframes animation-landingHome06-top {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}
.animation-landingHome06-top {
  animation: animation-landingHome06-top 6.5s ease-in-out infinite;
}
.animation-landingHome06-top-2 {
  animation: animation-landingHome06-top 6.5s 3.25s ease-in-out infinite;
}
@keyframes animation-landingHome06-top-3 {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-8deg);
  }
  100% {
    transform: rotate(0);
  }
}
.animation-landingHome06-top-3 {
  animation: animation-landingHome06-top-3 10s 3.25s ease-in-out infinite;
}

@keyframes lineOfferAnimation {
  0% {
    transform: translateX(0);
  } 
  50% {
    transform: translateX(20px); 
  } 
  100% {
    transform: translateX(0);
  }
}
.lineOfferAnimation {
  animation: lineOfferAnimation infinite 4s ease;
}

@keyframes twitterOfferAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pinterestOfferAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.twitterOfferAnimation {
  animation: twitterOfferAnimation infinite 4s ease;
}
.facebookOfferAnimation {
  animation: twitterOfferAnimation infinite 4s 2s ease;
}
.pinterestOfferAnimation {
  animation: pinterestOfferAnimation infinite 6s ease;
}

.OfferCardBackground-0 {
  background: url('../public/assets/Home01/offer_slide_1.jpg') no-repeat;
}
.OfferCardBackground-1 {
  background: url('../public/assets/Home01/offer_slide_2.jpg') no-repeat;
}
.OfferCardBackground-2 {
  background: url('../public/assets/Home01/offer_slide_3.jpg') no-repeat;
}
.OfferCardBackground-3 {
  background: url('../public/assets/Home01/offer_slide_4.jpg') no-repeat;
}
.OfferCardBackground-4 {
  background: url('../public/assets/Home01/offer_slide_5.jpg') no-repeat;
}
.OfferCardBackground-5 {
  background: url('../public/assets/Home01/offer_slide_6.jpg') no-repeat;
}

@keyframes animation-vision-Home01-top {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0);
  }
}
.animation-vision-Home01-top {
  animation: animation-vision-Home01-top ease-in-out 5.5s infinite;
}
@keyframes animation-vision-Home01-top-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
.animation-vision-Home01-top-2 {
  animation: animation-vision-Home01-top-2 ease-in-out 7s infinite;
}
.animation-vision-Home01-top-3 {
  animation: animation-vision-Home01-top-2 ease-in-out 6s infinite;
}
@keyframes animation-vision-Home01-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
.animation-vision-Home01-left {
  animation: animation-vision-Home01-left  ease-in-out 8s infinite;
}

.home01BlogSwiper {
  padding: 0 20px!important;
}
/**/



/* Home02 Appearence */
.parallaxConsultancy-Home02 {
  background-image: url('../public/assets/Home02/consultancy_background_01.png');
  height: 420px; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes benefitsRightReveal {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.revealBenefitsHome02-1 {
  animation: benefitsRightReveal .7s .25s ease-in-out forwards;
}
.revealBenefitsHome02-4 {
  animation: benefitsRightReveal .7s 2.1s ease-in-out forwards;
}
@keyframes benefitsBottomReveal {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.revealBenefitsHome02-2 {
  animation: benefitsBottomReveal .7s 1.5s ease-in-out forwards;
}
@keyframes benefitsLeftReveal {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.revealBenefitsHome02-3 {
  animation: benefitsLeftReveal .7s 1s ease-in-out forwards;
}
.revealBenefitsHome02-5 {
  animation: benefitsLeftReveal .7s 2.5s ease-in-out forwards;
}

@keyframes aboutBottomReveal {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.revealStrategyAbout-1 {
  animation: aboutBottomReveal .7s .3s ease-in-out forwards;
}
@keyframes aboutRightReveal {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.revealStrategyAbout-3 {
  animation: aboutRightReveal .7s 1.3s ease-in-out forwards;
}
.revealStrategyAbout-5 {
  animation: aboutRightReveal .7s 2.3s ease-in-out forwards;
}
@keyframes aboutLeftReveal {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.revealStrategyAbout-2 {
  animation: aboutLeftReveal .7s .8s ease-in-out forwards;
}
.revealStrategyAbout-4 {
  animation: aboutLeftReveal .7s 1.8s ease-in-out forwards;
}
.revealStrategyAbout-6 {
  animation: aboutLeftReveal .7s 2.8s ease-in-out forwards;
}

@keyframes offerCategorie {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.offer-categorie {
  animation: offerCategorie linear .7s forwards;
}
@keyframes revealOfferFirst {
  0%{
    opacity: 0;
    transform: translateX(300px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}  
@keyframes revealOfferSecond {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.revealOfferFirst {
  animation: revealOfferFirst .7s ease-in-out .7s forwards;
}
.revealOfferSecond {
  animation: revealOfferSecond .7s ease-in-out 1.3s forwards;
}
.revealOfferThird {
  animation: revealOfferFirst .7s ease-in-out 1.9s forwards;
}

.home02-offer-active {
  background-color: #ff4a17;

}
.home02-offer-active > .home02-offer-active--icon {
  opacity: 1;
}
.home02-offer-active > .home02-offer-active--text {
  color: white;
}
@keyframes triangleAnimation {
  100% {
    opacity: 1;
  }
}
.home02-offer-active:after {
  content: '';
  position: absolute;
  left:63px;
  top: 140px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #ff4a17 transparent transparent transparent;
  opacity: 0;
  animation: triangleAnimation .5s ease-in-out forwards;
}
@media (max-width:430px) {
  .home02-offer-active:after {
    content: '';
    position: absolute;
    left:45%;
    top: 120px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 15px;
    border-color: #ff4a17 transparent transparent transparent;
    opacity: 0;
    animation: triangleAnimation .5s ease-in-out forwards;
  }
}

@keyframes offerSlide {
  100% {
    transform: translateY(0);
  }
}
.offerSlide-active {
  animation: offerSlide .4s ease-in-out forwards;
}
@keyframes offerSlideRemove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
.offerSlide-remove {
  animation: offerSlideRemove .4s ease-in-out forwards;
}

@keyframes offerBounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.offerSlide-bounce {
  animation: offerBounce .35s ease-in-out forwards;
}
@keyframes offerRebounce {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.offerSlide-rebounce {
  animation: offerRebounce .35s ease-in-out forwards;
}
/**/



/* Home03 */
.parallaxDivision-Home03 {
  background-image: url('../public/assets/Home03/division_parallax.png');
  height: 515px; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes landingBackgroundAnimation {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(-50px, 50px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes landingBackgroundAnimationReverse {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(50px, -50px);
  }
  100% {
    transform: translate(0);
  }
}
.landingBackgroundAnimation {
  animation: landingBackgroundAnimation 10s cubic-bezier(0.35, 0, 0.63, 1) infinite;
}
.landingBackgroundAnimation-delay {
  animation: landingBackgroundAnimationReverse 10s cubic-bezier(0.35, 0, 0.63, 1) infinite;
}

@keyframes revealBenefits-Home03-1 {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.revealBenefits-Home03-1 {
  animation: revealBenefits-Home03-1 .7s ease-in-out forwards;
}
@keyframes revealBenefits-Home03-2 {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.revealBenefits-Home03-2 {
  animation: revealBenefits-Home03-2 .7s ease-in-out forwards;
}
/**/


/* Home04 */
.parallaxBenefits-Home04{
  background-image: url('../public/assets/Home04/benefits_parallax.jpg');
  height: 650px; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/**/



/* Home05 */
@keyframes Home05BackgroundAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.Home05BackgroundAnimation {
  animation: Home05BackgroundAnimation 6s ease-in infinite;
}
@keyframes Home05BackgroundAnimation-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.Home05BackgroundAnimation-2 {
  animation: Home05BackgroundAnimation 6s ease-in infinite;
}

.Home05NavigationNext, .Home05NavigationPrev {
  padding: 0 25%!important;
  background-color: transparent!important;
  right:10px;
  width: 10px!important;
}
.Home05NavigationNext {
  background-image: url('../public/assets/Home02/navigation_arrow_right.png');
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: center;
}
.Home05NavigationPrev {
  background-image: url('../public/assets/Home02/navigation_arrow_left.png');
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: center;
}

@keyframes animation-contact-Home05-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
.animation-contact-Home05-left {
  animation: animation-contact-Home05-left 7.5s ease-in-out infinite;
}
@keyframes animation-contact-Home05-top-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.animation-contact-Home05-top-1 {
  animation: animation-contact-Home05-top-1 5.5s ease-in-out infinite;
}
.animation-contact-Home05-top-2 {
  animation: animation-contact-Home05-top-1 7s ease-in-out infinite;
}
.animation-contact-Home05-top-3 {
  animation: animation-contact-Home05-top-1 4.5s ease-in-out infinite;
}

.parallaxDivision-Home05 {
  background-image: url('../public/assets/Home05/division_parallax.jpg');
  height: 480px; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.faqText{
  max-height: 0;
  overflow: hidden;
  transition: .5s max-height;
  position: absolute;
	top: 70px;
  left: 50%;
  transform: translateX(-50%);
	max-height:0em;	
}
.faqResponseActive > p {
  max-height: 80px;
}
.faqResponseActive{
  box-shadow: 3px 3px 20px 3px #eae9e9;
}
.faqResponseActive > div{
  background-color: white;
}
.faqResponseActive > div > p {
  color: #ff4a17;
  
}
.faqResponseActive > div > .rotate-45 {
  color: #ff4a17;
  transform: rotate(-45deg);
}
/**/



/* Home06 */
@keyframes animation-landing-Home06 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(170px);
  }
  100% {
    transform: translateY(0);
  }
}
.animation-landing-Home06 {
  animation: animation-landing-Home06 7s ease-in-out infinite;
}
@keyframes animation-landing-Home06-2 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}
.animation-landing-Home06-2 {
  animation: animation-landing-Home06-2 3s ease-in-out infinite;
}

@keyframes animation-vision-Home06 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.45);
  }
  100% {
    transform: scale(1);
  }
}
.animation-vision-Home06 {
 animation: animation-vision-Home06 4.5s ease-in-out infinite;
}

@keyframes animation-success-home06 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
  100% {
    transform: translateY(0);
  }
}
.animation-success-home06 {
  animation: animation-success-home06 4.5s ease-in-out infinite;
}

@keyframes animation-philosophy-Home06 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.animation-philosophy-home06 {
  animation: animation-philosophy-Home06 ease-in-out infinite 4s;
}


.home06-philosophy-active {
  background-color: #14212b;
  color: white;
}
/**/



/* Value */
@keyframes animation-vision-value {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.animation-vision-value {
 animation: animation-vision-value 7s ease-in-out infinite;
}
@keyframes animation-vision-value-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
.animation-vision-value-2 {
  animation: animation-vision-value-2 ease-in-out 6s infinite;
}
@keyframes animation-vision-value-3 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-20px);
  }
  100% {
    transform: translateX(0);
  }
}
.animation-vision-value-3 {
  animation: animation-vision-value-3 ease-in-out 6s infinite;
}
/**/



/* FAQ */
.FaqCardBackground-0 {
  background: url('../public//assets/PAGES/FAQ/card_01.jpg') no-repeat center;
}
.FaqCardBackground-1 {
  background: url('../public//assets/PAGES/FAQ/card_02.jpg') no-repeat center;
}
.FaqCardBackground-2 {
  background: url('../public//assets/PAGES/FAQ/card_03.jpg') no-repeat center;
}
/**/



/* Article Animation */
@keyframes articleAppear {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.articleAppear {
  animation: articleAppear .3s ease-in-out forwards;
}
/**/



/**/
.smallArticle1 {
  height: 280px;
}
.smallArticle2 {
  position: relative;
  top: -430px;
}
.smallArticle3 {
  position: relative;
  top: -320px;
}
.smallArticle4 {
  position: relative;
  top: -670px;
}
.smallArticle5 {
  position: relative;
  top: -820px;
}

.smallSidebarArticle1 {
  height: 220px;
}
.smallSidebarArticle2 {
  position: relative;
  top: -300px;
}
.smallSidebarArticle3 {
  position: relative;
  top: -120px;
}
.smallSidebarArticle4 {
  position: relative;
  top: -370px;
}
.smallSidebarArticle5 {
  position: relative;
  top: -590px;
}

.smallArticle1-3 {
  position: relative;
  top: -260px;
}
.smallArticle2-3 {
  position: relative;
  top: -300px;
}
.smallArticle3-3 {
  position: relative;
  top: -35px;
}
.smallArticle4-3 {
  position: relative;
  top: -300px;
}
.smallArticle5-3 {
  position: relative;
  top: -480px;
}
.smallArticle6-3 {
  position: relative;
  top: -80px;
}
.smallArticle7-3 {
  position: relative;
  top: -580px;
}

.smallArticle1-4 {
  position: relative;
  top: -130px;
}
.smallArticle2-4 {
  position: relative;
  top: -300px;
}
.smallArticle3-4 {
  position: relative;
  top: -260px;
}
.smallArticle4-4 {
  position: relative;
  top: -130px;
}
.smallArticle5-4 {
  position: relative;
  top: -320px;
}
.smallArticle6-4 {
  position: relative;
  top: -320px;
}
/**/



/* Filter Portfolio Style */
.filterPortfolioActive {
  color: white;
  background-color: #ff4a17;
  border-radius: 3px;
}
/**/


/* Item Page Mode Button */
.activeModeItemPage{
  color: white;
  background-color: #14212b;
}

.strokeStar {
  -webkit-text-stroke: 1px #f9d322;
}
/**/


/* Loader Style */
.spinnerArticle {
  margin: auto;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 2.9px;
  background: conic-gradient(from 135deg at top,black 90deg, #0000 0) 0 calc(50% - 1.9px)/8.2px 4.1px,
         radial-gradient(farthest-side at bottom left,#0000 calc(100% - 2.9px),black calc(100% - 2.4px) 99%,#0000) top right/50%  50% content-box content-box,
         radial-gradient(farthest-side at top,#0000 calc(100% - 2.9px),black calc(100% - 2.4px) 99%,#0000) bottom   /100% 50% content-box content-box;
  background-repeat: no-repeat;
  animation: spinner-v8og74 1s infinite linear;
}
@keyframes spinner-v8og74 {
  100% {
     transform: rotate(1turn);
  }
}
/**/



/* Input Number Style */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]
{
  -moz-appearance: textfield;
}
/**/



/* Media Queries */
.indexHeader {
  z-index: 9999;
}

@media (max-width:849px) {
  .testimonialSlide {
    width: 90%!important;
  }
}
/**/
