@tailwind base;
@tailwind components;
@tailwind utilities;



/* Swiper Pagination Style */
.swiper-pagination-bullet {
    height: 6px!important;
    width: 6px!important;
}
.swiper-pagination-bullet-active {
    background-color: #000 !important;
    border-radius: 5px!important;
    height: 6px!important;
    width: 20px!important;
    transition: width linear .3s ;
}
/**/


/* Swiper Navigation Style */
.swiper-button-next,
.swiper-button-prev {
    padding: 0 25%!important;
    background-color: transparent!important;
    right:10px;
    width: 10px!important;
}
.swiper-button-prev {
  background-image: url('../public/assets/Home02/navigation_arrow_left.png');
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: center;
}
.swiper-button-prev::after {
  display: none;
}
.swiper-button-next {
  background-image: url('../public/assets/Home02/navigation_arrow_right.png');
  background-repeat: no-repeat;
  background-size: 50px auto;
  background-position: center;
}
.swiper-button-next::after {
  display: none;
}
@media (max-width: 1000px) {
  .swiper-button-next,
  .swiper-button-prev {
      padding: 0 10%!important;
      background-color: transparent!important;
      right:10px;
      width: 10px!important;
  }
  .swiper-button-prev {
    background-image: url('../public/assets/Home02/navigation_arrow_left.png');
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: center;
  }
  .swiper-button-next {
    background-image: url('../public/assets/Home02/navigation_arrow_right.png');
    background-repeat: no-repeat;
    background-size: 25px auto;
    background-position: center;
  }
}
/**/

/* Underline Text Animation */
.hover-underline-animation {
    display: inline-block;
    position: relative;
}
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: #ff4a17;
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Hover Nav Animation */
.hover-nav-animation {
  display: inline-block;
  position: relative;
  transform: rotate(90deg);
}
.hover-nav-animation:after {
  content: '';
  position: absolute;
  width: 34px;
  background-color: #ff4a17;
  transform: scaleX(0);
  height: 2px;
  bottom: 25px;
  right: 20px;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-nav:hover .hover-nav-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.nav-div:hover .hover-nav-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-nav-active:after {
  transform: rotate(90deg);
  content: '';
  position: absolute;
  width: 34px;
  background-color: #ff4a17;
  height: 2px;
  bottom: 42px;
  right: 5px;
}
.hover-nav-active--page:after {
  transform: rotate(90deg);
  content: '';
  position: absolute;
  width: 34px;
  background-color: #ff4a17;
  height: 2px;
  top: 10px;
  right: 22px;
}
/**/



/* Card Flip Effect */
.flip-card {
  background-color: transparent;
  width: 32%;
  height: 311px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}
/* Style the back side */
.flip-card-back {
  transform: rotateY(180deg);
}
/**/



/* Header Animation OnScroll */
@keyframes headerAnimation {
  0% {
    opacity: 0;
    transform: translateY(-75%);
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
  }
}
.fixed-header {
  z-index: 9999;
  box-shadow: 5px 6px 30px 0 rgba(0,0,0,0.12);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  animation: headerAnimation .5s;
  animation-fill-mode: forwards;
}
/**/

/* BackTopTop Animation OnScroll */
.fixed-goTop {
  transform: rotate(270deg) translate(0);
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  animation: goTopAnimation .3s linear;
  animation-fill-mode: forwards;
}
/**/

/* Strategy Bar About */
@keyframes strategyBar {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
.strategy-bar-animation {
  animation: strategyBar ease-out forwards 1s .3s;
}
/**/

/* Home02 Appearence */
@keyframes landingFirstReveal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.revealLandingFirstHome02-1 {
 animation: landingFirstReveal .7s 1.35s ease-in-out forwards;
}
.revealLandingFirstHome02-2 {
  animation: landingFirstReveal .7s 1.2s ease-in-out forwards;
}
.revealLandingFirstHome02-3 {
  animation: landingFirstReveal .7s 3.1s ease-in-out forwards;
}
.revealLandingFirstHome02-4 {
  animation: landingFirstReveal .7s 3.7s ease-in-out forwards;
}
.revealLandingFirstHome02-5 {
  animation: landingFirstReveal .7s 4s ease-in-out forwards;
}
.revealLandingFirstHome02-6 {
  animation: landingFirstReveal .7s 4.2s ease-in-out forwards;
}
.revealLandingFirstHome02-7 {
  animation: landingFirstReveal .7s 4.8s ease-in-out forwards;
}
.revealLandingFirstHome02-8 {
  animation: landingFirstReveal .7s 5.4s ease-in-out forwards;
}
@keyframes landingRightReveal {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.revealLandingRightHome02-1{
  animation: landingRightReveal .7s 1.8s ease-in-out forwards;
}
.revealLandingRightHome02-2{
  animation: landingRightReveal .7s ease-in-out forwards;
}
.revealLandingRightHome02-3{
  animation: landingRightReveal .7s .5s ease-in-out forwards;
}
.revealLandingRightHome02-4{
  animation: landingRightReveal .7s 2.4s ease-in-out forwards;
}

@keyframes landingLeftReveal {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.revealLandingLeftHome02 {
  animation: landingLeftReveal .7s 3s ease-in-out forwards;
}
.revealLandingLeftHome02-2 {
  animation: landingLeftReveal .7s 1.2s ease-in-out forwards;
}

@keyframes landingBottomRevealScroll {
  0% {
    opacity: 0;
    transform: translateY(50px) rotate(270deg);
  }
  100% {
    opacity: 1;
    transform: rotate(270deg) translateY(0);
  }
}
.revealLandingBottomHome02 {
  animation: landingBottomRevealScroll .7s 1.6s ease-in-out forwards;
  
}
@keyframes landingBottomReveal {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.revealLandingBottomHome02-1 {
  animation: landingBottomReveal .7s 1.8s ease-in-out forwards;
}

@keyframes benefitsRightReveal {
  0% {
    opacity: 0;
    transform: translateX(400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.revealBenefitsHome02-1 {
  animation: benefitsRightReveal .7s .25s ease-in-out forwards;
}
.revealBenefitsHome02-4 {
  animation: benefitsRightReveal .7s 2.1s ease-in-out forwards;
}
@keyframes benefitsBottomReveal {
  0% {
    opacity: 0;
    transform: translateY(300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.revealBenefitsHome02-2 {
  animation: benefitsBottomReveal .7s 1.5s ease-in-out forwards;
}
@keyframes benefitsLeftReveal {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.revealBenefitsHome02-3 {
  animation: benefitsLeftReveal .7s 1s ease-in-out forwards;
}
.revealBenefitsHome02-5 {
  animation: benefitsLeftReveal .7s 2.5s ease-in-out forwards;
}

@keyframes aboutBottomReveal {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.revealStrategyAbout-1 {
  animation: aboutBottomReveal .7s .3s ease-in-out forwards;
}
@keyframes aboutRightReveal {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.revealStrategyAbout-3 {
  animation: aboutRightReveal .7s 1.3s ease-in-out forwards;
}
.revealStrategyAbout-5 {
  animation: aboutRightReveal .7s 2.3s ease-in-out forwards;
}
@keyframes aboutLeftReveal {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.revealStrategyAbout-2 {
  animation: aboutLeftReveal .7s .8s ease-in-out forwards;
}
.revealStrategyAbout-4 {
  animation: aboutLeftReveal .7s 1.8s ease-in-out forwards;
}
.revealStrategyAbout-6 {
  animation: aboutLeftReveal .7s 2.8s ease-in-out forwards;
}

@keyframes offerCategorie {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
.offer-categorie {
  animation: offerCategorie linear .7s forwards;
}
@keyframes revealOfferFirst {
  0%{
    opacity: 0;
    transform: translateX(300px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}  
@keyframes revealOfferSecond {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.revealOfferFirst {
  animation: revealOfferFirst .7s ease-in-out .7s forwards;
}
.revealOfferSecond {
  animation: revealOfferSecond .7s ease-in-out 1.3s forwards;
}
.revealOfferThird {
  animation: revealOfferFirst .7s ease-in-out 1.9s forwards;
}

.home02-offer-active {
  background-color: #ff4a17;

}
.home02-offer-active > .home02-offer-active--icon {
  opacity: 1;
}
.home02-offer-active > .home02-offer-active--text {
  color: white;
}
@keyframes triangleAnimation {
  100% {
    opacity: 1;
  }
}
.home02-offer-active:after {
  content: '';
  position: absolute;
  left:63px;
  top: 140px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 15px 0 15px;
  border-color: #ff4a17 transparent transparent transparent;
  opacity: 0;
  animation: triangleAnimation .5s ease-in-out forwards;
}

@keyframes offerSlide {
  100% {
    transform: translateY(0);
  }
}
.offerSlide-active {
  animation: offerSlide .4s ease-in-out forwards;
}
@keyframes offerSlideRemove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
.offerSlide-remove {
  animation: offerSlideRemove .4s ease-in-out forwards;
}

@keyframes offerBounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.offerSlide-bounce {
  animation: offerBounce .35s ease-in-out forwards;
}
@keyframes offerRebounce {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.offerSlide-rebounce {
  animation: offerRebounce .35s ease-in-out forwards;
}
/**/


/* About Landing Appearance */
@keyframes revealAboutTop {
  0%{
    opacity: 0;
    transform: translateY(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes revealAboutRight {
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}  
@keyframes revealAboutLeft {
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
.revealAboutFirst {
  animation: revealAboutTop .7s ease-in-out .7s forwards;
}
.revealAboutSecond {
  animation: revealAboutLeft .7s ease-in-out 1.2s forwards;
}
.revealAboutThird {
  animation: revealAboutRight .7s ease-in-out 1.7s forwards;
}
.revealAboutFourth {
  animation: revealAboutLeft .7s ease-in-out 2.2s forwards;
}
.revealAboutFifth {
  animation: revealAboutRight .7s ease-in-out 2.7s forwards;
}



/* Aside Header appearance */
@keyframes asideHeader {
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0);
  }
}
.asideHeaderBlock {
  display: block;
  animation: asideHeader .2s ease forwards;
}
/**/

/* Home01 */
@keyframes lineOfferAnimation {
  0% {
    transform: translateX(0);
  } 
  50% {
    transform: translateX(20px); 
  } 
  100% {
    transform: translateX(0);
  }
}
.lineOfferAnimation {
  animation: lineOfferAnimation infinite 4s ease;
}

@keyframes twitterOfferAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes pinterestOfferAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.twitterOfferAnimation {
  animation: twitterOfferAnimation infinite 4s ease;
}
.facebookOfferAnimation {
  animation: twitterOfferAnimation infinite 4s 2s ease;
}
.pinterestOfferAnimation {
  animation: pinterestOfferAnimation infinite 6s ease;
}

.home01BlogSwiper {
  padding: 0 20px!important;
}
/**/


/* Media Queries */
.indexHeader {
  z-index: 9999;
}

@media (max-width:849px) {
  .testimonialSlide {
    width: 90%!important;
  }
}
/**/